.joke {
  font-size: 30px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(188, 159, 214);
  padding: 20px;
  margin: 33px;
}
h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: rgb(188, 159, 214);
  max-width: 50%;
  padding-top: 150px;
}

.text {
  font-size: 15px;
}
